@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;600&display=swap");
:root {
  --mainColor: #00060e;
  --secondColor: #e7e7e7;
  --cardColor: rgba(255, 255, 255, 0.11);
  --lineColor: #e7e7e723;
  --overLayColor: rgba(0, 0, 0, 0.481);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Cairo", sans-serif;
  background-color: var(--mainColor);
  color: var(--secondColor);
}
.app {
  padding: 20px;
}

.app .header h1 {
  text-align: center;
}
.app .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  gap: 10px;
  margin: 16px;
}

.app .card-style {
  background-color: var(--cardColor);
  border-radius: 5px;
  padding: 10px 20px;
}
.app .cards .add {
  display: grid;
  place-items: center;
}

.app .cards .plus {
  background-color: #0d1117;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.app .cards .add i {
  font-size: 30px;
  cursor: pointer;
}

.app .cards .card .card_content {
  font-size: 18px;
  font-weight: 500;
}
.app .cards .card .card_details {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--lineColor);
  margin: 10px 0px;
  padding: 2px 0px;
  align-items: center;
}

.app .cards .card .card_details > span {
  font-size: 12px;
}
.app .cards .card .card_details .menu-app {
  position: relative;
}
.app .cards .card .card_details .menu-app > i {
  font-size: 20px;
  cursor: pointer;
}

.app .cards .card .card_details .menu-app .menu {
  background-color: #000;
  position: absolute;
  width: 100px;
  padding: 10px 0px;
  border-radius: 4px;
  left: auto;
  top: auto;
  z-index: 6;
  transform: scale(0);
  transition: all 200ms linear;
}
.app .cards .card .card_details .menu-app:hover .menu {
  transform: scale(1);
}

.app .cards .card .card_details .menu-app .menu li {
  cursor: pointer;
  padding: 3px 10px;
  transition: all 200ms linear;
}
.app .cards .card .card_details .menu-app .menu li:hover {
  background-color: var(--lineColor);
}
.popup-app {
  position: fixed;
  inset: 0;
  background-color: var(--overLayColor);
  display: grid;
  place-items: center;
  z-index: 999;
  display: none;
}

.popup-app.open {
  display: grid;
}
.popup-app .popup {
  background-color: rgb(32 32 32);
  width: 340px;
  padding: 10px 20px;
  border-radius: 5px;
}
.popup-app .popup .header_popup {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popup-app .popup .header_popup i {
  font-size: 30px;
  cursor: pointer;
}
.popup-app .popup form {
  margin: 15px 0px;
}

.popup-app .popup form > div {
  margin: 15px 0px;
}

.popup-app .popup form > div :where(input, textarea) {
  display: block;
  width: 100%;
  outline-width: 0;
  padding: 7px;
  background-color: initial;
  border: 1px solid #eee;
  border-radius: 3px;
  color: var(--secondColor);
}

.popup-app .popup form > div textarea {
  resize: none;
  height: 120px;
}

.popup-app .popup form > button {
  width: 100%;
  padding: 10px 0px;
  border-width: 0;
  background-color: var(--cardColor);
  color: var(--secondColor);
  cursor: pointer;
  border-radius: 6px;
}
/* Global*/
li {
  list-style: none;
}
